.contenedor-patro{
    padding: 5%;
    display: flex;
}
.imagen-patro{
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
    height: 400px;
}
@media (min-width:1100px){
    .contenedor-patrocinadores{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-left:6.5%;
        margin-top:200px;
        
    }
    .contenedor-patro{
        margin-left: 4%;
        padding: 1%;
        display: flex;
    }
    .imagen-patro{
        width: 340px;
        height: 300px;
    }
};